<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.visionguardian">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.VisionGuardian">
        <activity android:name=".Manual"></activity>
        <activity
            android:name=".VisionImage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OpenCamera"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Scheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GeneralCareDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GeneralCare"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RefferalDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListOfPaitent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Referral"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Awarness_List"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Awarness"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TourchLightExamination"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Refraction"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VisionScreening"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Examination"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LandingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>